@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
button {
	font: inherit;
	border: none;
	cursor: pointer;
}
input,
label {
	font: inherit;
}

body {
  font-family: var(--body-font);
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: auto;
}

code {
  font-family: var(--body-font);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none !important;
}