@import "../../styles/global/style.css";
@import "../../styles/base/_variables.css";


.selectContainer {
  position: relative;
  background: var(--input-bg-color);
  height: 60px;
  border: 2px solid var(--grey-border-color);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.75rem;
  border-radius: 4px !important;
  outline: none;
  cursor: pointer;
}

.selectContainer:focus {
  border-color: var(--link-color);
}

.value {
  flex-grow: 1;
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}

.caret {
  translate: 0px 25%;
  border: .304em solid transparent;
  border-top-color: var(--grey-text-color);
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: .05em solid var(--grey-border-color);
  border-radius: .25em;
  width: 100%;
  left: 0;
  top: calc(100% + .25em);
  background-color: var(--input-bg-color);
  z-index: 100;
}

.options.show {
  display: block;
}

.option {
  padding: .25em .5em;
  cursor: pointer;
}

.option.selected {
  background-color: var(--selected-bg-color);
}

.option.highlighted {
  background-color: var(--button-bg-color);
}



